@mixin font($size, $height, $weight: normal) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

@mixin background($repeat, $position, $size) {
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;

}


$tablet:768px;