
.brand__container{
   display: flex; 
   

.brand__item-img{
    width: 50%;
}

.brand__item{
    width: 50%;
    background: #F1E4E6;  
    display: flex;
    align-items: center;
    padding-left: 64px;
}
.brand__title{
    padding-left: 28px;
   max-width: 405px;
    font-weight: 900;
   font-size: 48px;
  line-height:40px;
  color: $black-color;
  position:relative;  
 
}
.brand__title::before{
    content: "";
    position: absolute;
    width: 12px;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:$pink-color;
    opacity: 0;
    transition: all .3s;

}
.brand__title:hover::before{
    opacity: 1;
}

.brand{
    text-transform: uppercase;
    display: block;
}
.lux{
    text-transform: uppercase;
    font-size:24px;    
    font-weight: 700;   
   
}
.fashion{
    color: $pink-color;
    font-size:24px;
    font-weight: 700;
    text-transform: uppercase;
  
}
}