.footer {



    &__top {
        padding: 86px 0 126px 0;
        background-image: url(../images/f-top-back.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media(max-width:768px) {
            padding: 53px 0 140px 0;

        }
    }

    &__top-container {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:768px) {
            flex-direction: column;
            align-items: center;

        }
    }

    &__text-author {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(max-width:768px) {
            margin-bottom: 40px;
        }


    }

    .author__images {
        width: 96px;
        height: 96px;
        overflow: hidden;
        border-radius: 50%;
    }

    .author__img {
        object-fit: cover;
    }

    .author__massage {
        width: 360px;
        font-size: 20px;
        line-height: 24px;
        color: $black-color;
        margin-top: 20px;
    }

    &__form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(max-width:414px) {
            width: 100%;
        }


        .form__title {
            font-size: 24px;
            line-height: 36px;
            text-transform: uppercase;
            font-weight: 700;
            color: $black-color;
        }

        .form__text {
            text-transform: uppercase;
            font-weight: 400;
            color: $black-color;
            margin-bottom: 32px;

            @media(max-width:768px) {
                margin-bottom: 27px;
            }
        }

        .form__input {
            height: 49px;
            width: 322px;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            border: none;
            background: #E1E1E1;
            padding: 7px 22px 6px;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 17px;

            @media(max-width:414px) {
                width: 240px;
            }

        }

        .form__input::placeholder {
            color: #222224;
            opacity: 0.67;
        }

        .form__btn {
            display: block;
            height: 49px;
            background-color: $pink-color;
            color: $white-color;
            font-size: 14px;
            line-height: 17px;
            padding: 0 20px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            transition: all .3s;

        }

        .form__btn:hover {
            background-color: transparent;
            color: $pink-color;
            transition: all .3s;
        }

        .form__box {
            display: flex;
            align-items: center;
        }
    }

    &__bottom {
        background-color: #222224;
        color: $white-color;
    }

    &__bootom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0 10px;

        @media(max-width:1024px) {
            justify-content: space-around;

        }

        @media(max-width:414px) {
            flex-direction: column-reverse;
            align-items: center;
        }




    }

    &__copy {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
       
    }

    &__social-list {
        display: flex;

        @media(max-width:414px) {
          margin: 11px 0 40px;
        }
    }

    &__social-item {
        background-color: $white-color;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;

    }

    &__social-item+&__social-item {
        margin-left: 9px;
    }

    &__social-item:hover {
        background-color: $pink-color;
        transition: all .3s;
    }

    .social__icon {
        fill: #000000;

    }

    &__social-item:hover .social__icon {
        fill: $white-color;
        transition: all .3s;

    }

    .social__facebook {
        width: 9px;
        height: 15px;

    }

    .social__instagramm {
        width: 15px;
        height: 15px;

    }

    .social__pinterest {
        width: 12px;
        height: 16px;
    }

    .social__twitter {
        width: 16px;
        height: 13px;
    }
}