.header {
    background-color: #222222;
    min-height: 75px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__logo {
        margin-right: 41px;


        @media(max-width:1024px) {
            margin-left: 32px;
        }


    }

    .header__item-link {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 33px;
        }

        @media (max-width:375px) {
            display: none;
        }
    }

    .burger {
        width: 32px;
        height: 23px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        position: relative;
        outline: none;
        margin-right: 32px;

        @media (max-width:375px) {
            margin-right: 30px;
        }

        & span {
            position: absolute;
            width: 32px;
            height: 2px;
            left: 0;
            top: auto;
            right: 0;
            background-color: #fff;
        }
    }

    .basket__link {
        position: relative;
        padding-right: 15px;

        @media(max-width:1024px) {
            padding-right: 30px;
        }

        @media(max-width:768px) {
            padding-right: 30px;
        }

        & span {
            display: inline-block;
            position: absolute;
            background-color: $pink-color;
            width: 19px;
            height: 19px;
            right: 6px;
            top: -6px;
            font-size: 12px;
            line-height: 14px;
            color: $white-color;
            border-radius: 50%;
            text-align: center;
            padding: 2px 0;
            z-index: 5;

            @media(max-width:1024px) {
                right: 22px;
            }

            @media(max-width:768px) {
                right: 22px;
            }

        }
    }

    .center {
        display: flex;
        align-items: center;
    }



    .header__menu {
        width: 232px;
        height: 900px;
        padding: 16px 0 133px 32px;
        position: fixed;
        right: -250px;
        top: 81px;
        background-color: $white-color;
        z-index: 999;
        transition: all 0.5s linear;
        box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);

        @media(max-width:1024px) {
            overflow: auto;
            padding: 16px 0 30px 32px;
            height: 500px;

        }




        &.active {
            right: 0;
            transition: all 0.5s linear;
            background-color: rgba($color:#fff, $alpha: 0.6);

        }


        .menu {
            position: relative;
            font-size: 14px;
            line-height: 17px;




            &__close-btn {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 25px;
                height: 25px;
                border: none;
                background-image: url(../images/close-btn.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-color: transparent;
                cursor: pointer;

                @media(max-width:1024px) {
                    top: 0;

                }

            }

            &__title {
                font-size: 14px;
                line-height: 17px;
                font-weight: 700;
                margin-top: 10px;
                text-transform: uppercase;
                margin-bottom: 15px;
                color: $black-color;

            }

            .menu__list-item {
                transition: all .3s linear;




                &:hover .menu__list-link {
                    color: $pink-color;
                    font-weight: 700;
                    text-decoration: underline;
                    transition: all .3s linear;
                    transform: scale(1.25);

                }
            }

            &__item-title {
                color: $pink-color;
                text-transform: uppercase;
                font-weight: 400;
                margin: 9px 0 12px;

            }

            &__list-link {
                text-transform: capitalize;
                padding: 15px;
                @include font(22px, 17px, 400);
                color: #6F6E6E;

                @media(max-width:1024px) {
                    @include font(18px, 17px, 400);
                    padding: 8px 0;

                }

            }
        }
    }



}