.registration {
    padding-bottom: 96px;


    &__top {
        background: #F8F3F4;
        padding: 135px 0 60px;
        width: 100%;



    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        color: $pink-color;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        padding-left: 10px;
        cursor: pointer;
        transition: opacity .3s linear;

        @media (max-width:414px) {
            text-align: center;
        }
    }

    &__title::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 29px;
        background-color: $pink-color;
        left: 0;
        top: 0;
        opacity: 0;
    }

    &__title:hover::before {
        opacity: 1;
        transition: opacity .3s linear;
    }

    &__form-title {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $black-color;
    }

    &__inner {
        padding-top: 64px;
        display: flex;
        justify-content: space-around;

        @media (max-width:414px) {
            display: block;
            padding: 40px 0 0;
        }
    }


    &__form {
        width: 50%;

        @media (max-width:1024px) {
            margin-right: 40px;

        }

        @media (max-width:768px) {
            margin-right: 40px;

        }


        @media (max-width:414px) {
            margin-bottom: 40px;
            width: 100%;

        }


    }


    &__form-input {
        display: block;
        outline: 1px solid #A4A4A4;
        width: 100%;
        padding: 13px 16px 17px;
        margin-bottom: 20px;
        transition: all .1s linear;
    }

    &__form-input:focus {
        outline: 3px solid #000000;
        transition: all .1s linear;
    }

    &__form-input:active {
        background-color: #ccc;
        transition: all .1s linear;
    }

    &__form-input::placeholder {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        text-transform: capitalize;

    }

    &__form-radio {
        margin-bottom: 35px;
        display: flex;

    }

    &__radio {
        position: relative;


    }

    &__radio+&__radio {
        margin-left: 20px;
    }

    .radio__input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
    }

    .radio__label {
        margin-left: 27px;
        cursor: pointer;
        font-weight: 300;
        font-size: 14px;
        line-height: 13px;
        font-family: 'Lato', sans-serif;

    }

    .radio__label::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #ccc;
        left: 0;
        top: 9px;
        border: 1px solid #ccc;
        transition: all .1s linear;
        z-index: 1;

        @media (max-width:1024px) {
            top: 2px;

        }
    }

    .radio__input:checked+.radio__label::before {
        background-color: $white-color;
        border-color: #000000;
        transition: all .1s linear;
        border: 2px solid rgb(233, 199, 7);
    }

    .radio__label::after {
        content: "";
        position: absolute;
        display: inline-block;
        left: 5px;
        top: 14px;
        width: 7px;
        height: 7px;
        background-color: #000000;
        border-radius: 50%;
        z-index: 2;
        transition: all .1s linear;
        opacity: 0;

        @media (max-width:1024px) {
            top: 7px;

        }
    }

    .radio__input:checked+.radio__label::after {
        opacity: 1;
        transition: all .1s linear;

    }

    &__form-text {
        width: 360px;
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
    }

    &__form-btn {
        padding: 16px 66px 17px 29px;
        background-color: $pink-color;
        font-size: 14px;
        line-height: 17px;
        color: $white-color;
        text-transform: uppercase;
        position: relative;
    }

    &__form-btn::after {
        content: url(../images/form-arrow-rigth-arrow.svg);
        position: absolute;
        right: 24px;
        top: 17px;

    }

    &__form-btn:hover {
        background-color: #e61531;
        transition: all ease 0.3s;
    }

    .registration__item {

        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        @media(max-width:1024px) {
            @include font(16px, 19px, 300);
            width: 50%;
        }

        @media (max-width:414px) {
            width: 100%;

        }

    }

    &__item-title {
        font-weight: 300;
        margin-bottom: 22px;
        text-transform: uppercase;
    }

    &__item-text {
        margin-bottom: 22px;
        max-width: 652px;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__list-item {
        position: relative;
        padding-left: 40px;
    }

    &__list-item::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 16px;
        left: 0;
        top: 0;
        background-image: url(../images/checked.svg);
        background-repeat: no-repeat;
        background-size: cover;


    }
}