.header{
    background-color: #222222;
    min-height: 75px;
    position: relative;

}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    margin-right: 41px;
}
.header__item-link{
      display: inline-block;
}
.header__item-link:not(:last-child){
    margin-right: 33px;
}
.burger{ 
    width: 32px;
    height: 23px;   
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;  
    outline: none;
}
.burger span{
    position: absolute;
    width: 32px;
    height: 2px;
    left: 0;
    top: auto;
    right:0;
    background-color: #fff;
   
}

.basket__link{
    position: relative;
    padding-right: 15px;
}
.basket__link span{
    display:inline-block;
    position:absolute;
    background-color: var(--pink-color);
    width: 19px;
    height: 19px;
    right: 6px;
    top: -6px;
    font-size: 12px;
    line-height: 14px;
    color: var(--white-color);   
    border-radius: 50%;
    text-align: center;
    padding: 2px 0;
    z-index: 5;

}
.center{
    display: flex;
    align-items: center;
}

.header__menu{   
    width: 232px;
    height: 769px;
    padding: 16px 0 157px 0;
    position: absolute;
    right: 0;
    top: 81px;
    background-color: var(--white-color);  
    z-index: 100;    
}

  /* .header__menu--visibel{
    transform: translateX(0);
    transition: all .3s ease-in-out;
} */

.menu{
    position: relative;
     padding: 16px 0 157px 33px;
        font-size: 14px;
    line-height: 17px;
    
}
.nav__close-btn{
    position: absolute;
    right: 16px;
    top: 0;
    width: 12px;
    height: 12px;
    border: none;
    background-image: url(../../images/close-btn.svg);
    background-color: transparent;
  
        
}

.nav__title{
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: var(--black-color);

}
.menu__list-item{
     transition: all .3s;
    
}
.menu__list-item:hover .menu__list-link{
    color: var(--pink-color);
    font-weight: 700;
    text-decoration: underline;
    transition: all .3s;
   
}
.menu__item-title{
    color: var(--pink-color);
    text-transform: uppercase;
    font-weight: 400;
    margin:9px 0 12px;

}
.menu__list-link{
    text-transform: capitalize;
    padding-bottom: 11px;
    
}







.brand__container{
   display: flex; 
   
}
.brand__item-img{
    width: 50%;
}

.brand__item{
    width: 50%;
    background: #F1E4E6;  
    display: flex;
    align-items: center;
    padding-left: 64px;
}
.brand__title{
    padding-left: 28px;
   max-width: 405px;
    font-weight: 900;
   font-size: 48px;
  line-height:40px;
  color: var(--black-color);
  position:relative;  
 
}
.brand__title::before{
    content: "";
    position: absolute;
    width: 12px;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--pink-color);
    opacity: 0;
    transition: all .3s;

}
.brand__title:hover::before{
    opacity: 1;
}

.brand{
    text-transform: uppercase;
    display: block;
}
.lux{
    text-transform: uppercase;
    font-size:24px;    
    font-weight: 700;   
   
}
.fashion{
    color: var(--pink-color);
    font-size:24px;
    font-weight: 700;
    text-transform: uppercase;
  
}